.converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 640px;
    grid-gap: 15px;
}

.btn-convert {
    grid-column: 1/3;
}

